*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    line-height:1.7;
font-family:sans-serif;
}
.container{
    display: flex;
    gap: 30px;
}
.item{
    width:70%;
    margin:60px auto;
    border:4px solid black;
    position:relative;
    
}
.item-title{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 25px;
    background-color: rgb(230,230,230);
}
.item-info{
    margin-top: 10px;
    flex:1 0;

}
.item-price{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.price{
    font-size: 30px;
}
.delivery{
    font-size: 18px;
    font-weight: bold;
    color: brown;
    align-self: center;
}
.offer{
    position: absolute;
    top:-30px;
    left:-20px;
    font-size: 30px;
    background-color:chartreuse;
    color:crimson;
    border:2px solid crimson;
    border-radius: 10px 30px;
    padding:10px;
    height: 70px;
    letter-spacing: 1px;

}
.item-detail{
    margin:10px;
}
.more-details:link,.more-details:visited{
color:rgb(121, 8, 121);
display: inline-block;
margin:10px;
text-decoration: none;
}
.more-details:hover{
    text-decoration: underline;
}
.item-colors{
    display:flex;
    gap:10px;
}
.color:hover{
    border:2px solid black;


}
/* .color:visited{
    border:2px solid blue;
} */
.color{
    height: 20px;
    width: 20px;
    background-color: grey;
    justify-content:;
    
    border-radius: 10px;


}
.color-green{
    background-color: green ;

}
.color-yellow{
    background-color: yellow ;
    
}
.color-violet{
    background-color: violet ;
    
}
.color-purple{
    background-color: purple ;
    
}
.color-blue{
    background-color: blue ;
    
}
.item-desc{
    flex:1;
    margin-top: 10px;
}
.desc-list{
    margin-left:50px;
    list-style-type: square;
}
.desc-title{
    margin-left: 50px;
    font-size: 16px;
    
}
.add-to-cart{
    background-color:rgb(240, 240, 77);
    padding:15px;
    border: none;
    border-radius: 15px;
    color: brown;
    cursor: pointer;
    text-transform:uppercase;
    width:25%;
    margin-top: 30px;
    text-shadow: 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.add-to-cart:hover{
    /* border-top:1px solid black; */
    background-color:rgb(166, 166, 28) ;
}
.buy-now{
    background-color:rgb(240, 240, 77);
    padding:15px;
    border: none;
    border-radius: 15px;
    color: brown;
    cursor: pointer;
    text-transform:uppercase;
    width:25%;
    margin-top: 30px;
    text-shadow: 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
} 
.buy-now:hover{
    /* border-top:1px solid black; */
    background-color:rgb(166, 166, 28) ; 
}


